:root{
    --red:#9acd32;
    --black:#ffffff;
    --blue:#0b0c0c;
    --white:#eaeaea;
    --title:35px;
    --text:19px;
 }
 
 *{
     margin:0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
     background: #ffff;
     overflow-x: hidden;
     font-family: 'Red Hat Text', sans-serif;
 }
 .go-top{
     position: fixed;
     bottom: 100px;
     right: -100%;
     width: 50px;
     height: 50px;
     background: #fff;
     border:2px solid var(--red);
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     z-index: 1000;
     transition: 0.5s;
 }
 .go-top:hover{
     background: var(--red);
     color:#fff;
     border: 2px solid var(--white);
 }
 .go-top:hover span{color:var(--white);}
 
 .go-top > span{
    font-size: 30px;
    color: var(--red);
 }
 
 
 /** Skew **/
 .skew-abajo{
     position: absolute;
     bottom: 0;
     left: 0;
     border-width: 0 0 10vh 100vw;
     border-color: transparent transparent #fff transparent;
 }
 .skew-arriba{
     position: absolute;
     top: 0;
     left: 0;
     border-width: 10vh 100vw 0 0;
     border-style: solid;
     border-color: #fff transparent transparent transparent;
     z-index: 10;
 }
 
 /** Navegation Menu **/
 #header{
     position: relative;
     width: 100%;
 }
 .menu{
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 9999;
 }

 .menu .logo-box h1 a{
     text-decoration: none;
     font-size: 30px;
     font-weight: 300;
     color:var(--black);
     margin-left: 10px;
     
 }
 .menu .logo-box h2 a{
     display: none;
     font-family: 'Monoton';
        text-decoration: none;
        font-size: 40px;
        color:var(--black);
        font-weight: normal;
 }
 .menu .list-container{margin-right: 20px;}
 .menu .list-container ul{display: flex;}
 .menu .list-container ul li{list-style: none;}
 .menu .list-container ul li a{
     text-decoration: none;
     margin: 0px 10px;
     padding:8px;
     color: var(--black);
     border-radius: 24px;
     transition: 0.3s;
     font-size: 16px;
 }
 .menu .list-container ul li a.active{
     background:yellowgreen;
     color:#fff;
 }
 .menu .list-container ul li a:hover{
    background:#9acd32;
     color:#fff;
 }
 
 .btn-menu > .fa-bars{
     display: none;
 }
 
 @media only screen and (max-width:900px){
     .btn-menu > .fa-bars{
         display: block;
         position:fixed;
         right: 30px;
         top: 20px;
         font-size: 28px;
         color: var(--red);
         transition: 0.5s;
         cursor: pointer;
     }
     .btn-menu > .fa-times{color: var(--red);}
     .btn-menu > .fa-bars:hover{color:var(--red);}
     .menu .logo-box{margin-left: 0px;}
     .menu .logo-box h1{display: none;}
     .menu .logo-box h2 a {display: block; margin-left: 50px;}
     .menu .list-container{
         position: fixed;
         top:60px;
         left:-100%;
         background:rgb(88, 85, 85);
         
         width: 40%;
         height: 80%;
         /*height: calc(100vh - 60px);*/
     }
    .lists li{
         color: black;
     }
     .menu .list-container .lists{
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         border-top:4px solid var(--red);
     }
     .menu .list-container ul li{
         width: 90%;
         border-bottom: 2px solid var(--black);
         display: flex;
         justify-content: left;
     } 
     u .list-container ul li a {
         font-size: 20px;
         text-align: center;
         padding:12px 0px;
     }
    
     .menu .list-container ul li a.active{
         background: none;
         color:var(--red);
     }
     .menu .list-container ul li a:hover{
         background: none;
         color:var(--red);
     }
 }
 
 /** Navegation Menu **/
 
 /** IMG Header **/
 .img-header{
     position: relative;
     width: 100%;
     height: 100vh;
     background:url(imagenes/portada.jpg);
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
 }
 .img-header .welcome{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.6);
 
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .img-header .welcome h1{
     font-size: 50px;
     color:#fff;
     font-weight: 200;
 }
 .img-header .welcome hr{
     width: 400px;
     height: 2px;
     background: #fff;
     border: none;
     margin-top: 5px;
 }
 .img-header .welcome p{
     font-size: 50px;
     color: #fff;
     margin-top: 20px;
 }
 .img-header .welcome > button{
     width: 170px;
     height: 40px;
     background: white;
     border-radius: 24px;
     border:none;
     outline: none;
     font-size: 22px;
     color:black;
     text-align: center;
     margin-top: 20px;
     cursor: pointer;
     transition: 0.5s;
 }
 .img-header .welcome > button:hover{
    background:yellowgreen;
    color: white;
 }
 
 @media only screen and (max-width:773px ){
     .img-header .welcome h1{font-size: 40px;}
     .img-header .welcome > button{width: 130px; font-size: 20px;}
 }
 @media only screen and (max-width:590px){
     .img-header .welcome h1{font-size: 30px;}
     .img-header .welcome hr{width: 100px;}
     .img-header .welcome p{font-size: 17px;}
     .img-header .welcome > button{width: 100px; font-size: 17px;}
 }
 
 /** Acerca de Nosotros **/
 .acerca-de{
     width: 100%;
     margin-top: 120px;
 }
 .acerca-de .info-container{
     width: 80%;
     margin:auto;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 .acerca-de .info-container h1{
     font-size: 50px;
     font-weight: 400;
     color: black;
     text-align: center;
     margin-bottom: 20px;
 }
 .acerca-de .info-container p{
     text-align: center;
     font-size: 17px;
     color: black;
     line-height: 35px;
     margin:10px 0px;
 }
 .acerca-de .info-container .about-gallery{
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 50px 0px;
 }
 .acerca-de .info-container .about-gallery img{
     width: calc(33.333% - 10px);
     height: 300px;
     margin: 10px 10px;
     object-fit: cover;
     border-radius: 10px;
     cursor: pointer;
 }
 .acerca-de .info-container .about-more{
     width: 100%;
     display: flex;
     justify-content: center;
 }
 .acerca-de .info-container .about-more button{
     width: 120px;
     height: 40px;
     text-align: center;
     line-height: 40px;
     font-size: 20px;
     background: white;
     border: none;
     outline: none;
     border-radius: 20px;
     color: black;
     cursor: pointer;
     transition: 0.5s;
     border: var(--red) 2px solid;
 }
 .acerca-de .info-container .about-more button:hover{
     background:yellowgreen;
     color: black;
    }
 
 @media only screen and (max-width:773px){
     .acerca-de .info-container .about-gallery{flex-direction: column;}
     .acerca-de .info-container .about-gallery img{width: 100%;}
 }
 @media only screen and (max-width:590px){
     .acerca-de .info-container h1{font-size: 30px;}
     .acerca-de .info-container p{font-size: 15px;}
 }
 
 
 /** Footer **/
 .footer{
     position: relative;
     width: 100%;
     height: 100%;
     background: url(imagenes/presentacion.jpg);
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
 }
 .footer .deg-footer{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.6);
 }
 .footer .ejeZfooter{
     position: relative;
     width: 100%;
     height: 100%;
 }
 .footer .footer-content{
     padding-top: 100px;
     width: 90%;
     margin: auto;
     padding-bottom: 100px;
 }
 .footer .footer-content .footer-title{
     width: 50%;
     margin: auto;
     border:2px solid #fff;
     padding:15px;
 }
 .footer .footer-content .footer-title h2{
     font-size: 35px;
     font-weight: 400;
     color: #fff;
     text-align: center;
     margin-bottom: 5px;
 }
 .footer .footer-content .footer-title hr{
     background: #fff;
     height: 2px;
     width: 80%;
     margin:auto;
 }
 .footer .formulario-content{
     width: 50%;
     margin: 50px auto;
     background: #fff;
     padding:30px;
     border-radius: 50px;
     border: 1.5px solid var(--red);
 }
 .footer .formulario-content #formulario{
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 .footer .formulario-content #formulario label{
     font-size: 20px;
     text-align: center;
     color: var(--black);
     margin: 30px 0px 10px 0px;
 }
 .footer .formulario-content #formulario input{
     width: 90%;
     height: 40px;
     margin:auto;
     border-radius: 24px;
     outline: none;
     border:1.5px solid var(--red);
     text-align: center;
     font-size: 18px;
     color: var(--black);
 }
 .footer .formulario-content #formulario textarea{
     width: 90%;
     height: 200px;
     margin:auto;
     padding: 20px;
     border-radius: 24px;
     outline: none;
     border:1.5px solid var(--red);
     font-size: 15px;
     color: var(--black);
 }
 .footer .formulario-content #formulario .send{
     margin: 30px;
     display: flex;
     justify-content: center;
 }
 .footer .formulario-content #formulario button{
     width: 120px;
     height: 40px;
     text-align: center;
     line-height: 40px;
     font-size: 20px;
     background: white;
     border: none;
     outline: none;
     border-radius: 20px;
     color:black;
     cursor: pointer;
     transition: 0.5s;
     border: var(--red) 2px solid;
 }
 .footer .formulario-content #formulario button:hover{
     background: var(--red);
 }
 .footer .formulario-content #formulario .mensaje-form{
     width: 100%;
     margin:auto;
     padding:20px;
 }
 .footer .formulario-content #formulario .mensaje-form p{
     font-size:19px;
     color: var(--black);
     line-height: 35px;
 }
 .footer .footer-text{
     position:absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 70px;
     background: var(--red);
     display: flex;
     justify-content: center;
     align-items: center;
     border-top: 2px solid #fff;
 }
 .footer .footer-text p{
     font-size: 20px;
     text-align: center;
     color: #fff;
 }
 
 @media only screen and (max-width:900px){
     .footer .formulario-content{width: 85%; padding:20px;}
     .footer .formulario-content #formulario input{width: 100%;}
     .footer .formulario-content #formulario textarea{width: 100%;}
 }
 @media only screen and (max-width:590px){
     .footer .formulario-content{width: 95%; padding:20px;}
     .footer .formulario-content #formulario label{font-size: 17px;}
     .footer .formulario-content #formulario input{width: 100%; font-size: 17px;}
     .footer .formulario-content #formulario textarea{width: 100%;}
     .footer .formulario-content #formulario .mensaje-form p{font-size: 17px;}
     .footer .footer-text{width: 100%; padding: 0px 30px;}
     .footer .footer-text p{font-size: 17px;}
 }