*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
   /* background-image: url(imagenes/portada.jpg);*/
   background-image: url(imagenes/agenda.jpg);
    
}
.cabecera{
    background: white;
    height: 80px;
    position: relative;
    display: flex;
    width: 100%;
    
}
.cabecera .facultad{
    margin-left: 50px;
    padding-top: 25px;
    width: 70%;
    height: auto;
    
}
.cabecera .facultad h1 a{
    color: #0ec23b;
    font-family: 'Roboto', sans-serif;
}
.cabecera .cerrar_sesion{
    width: 30%;
    margin-right: 50px;
    padding-top: 35px;
    height: auto;
}
.cabecera .cerrar_sesion a{
    float: right;
    text-decoration: none;
    color: #0ec23b;
}
main{
    width: 100%;
    padding: 10px;
    margin: 0px;
    margin-top: 0px;
}
.titulo_pagina{
    width: auto;
    padding-block-end: 50px;
    margin-left: 50px;
    padding-top: 40px;
}
.titulo_pagina h2{
    color: white;
    font-size: 30px;
}
.contenedor_todo{
    width:100%;
    height: auto;
    position: relative;
    background-color: white;
    justify-content: center;
    margin:auto;
    max-width: 800px;
}
.form_registro_materias {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    height: auto;
}
.form_registro_materias  input{
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
    display: block;
}
.form_registro_materias  select{
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
    display: block;
}
.form_registro_materias  .nivel_sistemas{
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
    display: none;
}

.form_registro_materias  .nivel_ti{
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
    display: none;
}
.form_registro_materias  p {
    width: 100%;
    padding: 0px;
    border: none;
    font-size: 16px;
    outline: none;
    display: block;
    margin-top: 30px;
}
.form_registro_materias p input{
    margin-top: 0%;
}
 .seleccion{
    width: 50%;
    margin-right: 20px;
    padding-block-end: 50px;
}
.escribir{
    width: 50%;
    margin-left: 20px;
    padding-block-end: 50px;
}
.form_registro_materias  button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
   /*background: #46A2FD;*/
   background: #0ec23b;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}
.ag{
    display: none;
}